

.card {
    border-radius: 10px; /* Rounded corners for the card */
    box-shadow: 0 4px 20px rgba(100, 81, 13, 0.253);
}

.card-title {
    font-weight: bold; /* Bold title */
}

#otp {
    text-align: center; /* Center align the OTP input */
}


.btn{
    border-color: black ;
    background-color: #FFBA00;
    
}

.otp-input {
    width: 50px; /* Fixed width for OTP input fields */
    text-align: center; /* Center align the text */
    margin: 0 5px; /* Margin between inputs */
    font-size: 24px; /* Larger font size for better visibility */
}
