* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

:root {
    --color1: #818E6E;
    --color2: #cfb595;
    --color3: #f3e8de;
}

section {
    min-height: 100vh;
    background-color:var(--color3) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-floating input{
    border-bottom: #818E6E 3px solid;
    background-color: #cfb595;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
}


.row {
    margin-top: 50px;
}

.card {
    background-color: var(--color2);
}

.h {
    color: black;
    margin-bottom: 10px;
}

.hs {
    color: black !important;
}

hr {
    color: var(--color2) !important;
}

.btn {
    background-color: var(--color1);
    color: white;
    border: none;
    width: 50%;
}

.btn:hover {
    background-color: var(--color3);
    color: black;
}
.error {
    color: rgb(109, 8, 8);
}
@media (max-width: 700px) {
    .error{
    width: 70%;
    position:absolute;
    top:10px;
    left:60px;
    margin:auto;
    }
    .container{
        margin-top:30px;
    }
}